.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 60px 20px;
    .header {
        border-left: 8px solid #e30613;
        padding-left: 20px;
        margin-bottom: 60px;
        h1 {
            font-size: 3rem;
            font-family: "Racing Sans One", sans-serif;
        }
    }
    .brand-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        gap: 15px;

        .brand-card {
            background: #fff;
            border: 1px solid #ddd;
            padding: 40px 20px;
            text-decoration: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: all 0.15s ease-in-out;
            .logo-box {
                width: 100%;
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 25px;
                img {
                    max-width: 160px;
                    max-height: 80px;
                    object-fit: contain;
                    width: 160px;
                    height: auto;
                    filter: grayscale(100%);
                    opacity: 0.8;
                    transition: 0.3s;
                }
            }

            .brand-info {
                text-align: center;
                .brand-name {
                    display: block;
                    font-size: 1.2rem;
                    font-weight: 900;
                    font-style: italic;
                    text-transform: uppercase;
                    color: #111;
                }

                .brand-stats {
                    display: block;
                    font-size: 0.7rem;
                    font-weight: 700;
                    color: #e30613;
                    margin-top: 5px;
                    letter-spacing: 1.5px;
                    text-transform: uppercase;
                }
            }
            &:hover {
                border-color: #e30613;
                background-color: #fff;
                z-index: 10;
                outline: 2px solid #e30613;
                img {
                    filter: grayscale(0%);
                    opacity: 1;
                    transform: scale(1.05);
                }
            }
        }
    }
}
